 @import url('https://fonts.googleapis.com/css2?family=Chokokutai&family=Lobster&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+Ethiopic:wght@100..900&family=Rubik+Wet+Paint&family=Spicy+Rice&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik+Wet+Paint&display=swap');

 /*==================================================================*/
 @keyframes surgir {
     0% {
         color: #000;
     }

     25% {
         color: #333;
     }

     60% {
         color: #555;
     }

     100% {
         color: #fff;
     }
 }

 @keyframes fogo {
     0% {
         opacity: 0;
     }

     25% {
         opacity: 0.25;
     }

     50% {
         opacity: 0.5;
     }

     75% {
         opacity: 0.75;
     }

     100% {
         opacity: 1;
     }
 }

 @keyframes rodar {
     0% {
         transform: rotate(0deg);
     }

     33% {
         transform: rotate(360deg);
     }

     100% {
         transform: rotate(360deg);
     }
 }

 /*==================================================================*/
 @media screen and (max-width:376px) {

     header {
         font-size: 0.6rem;
     }

     header img {
         width: 1.5rem;
         height: 1.5rem;
     }

     .logo img {
         border-radius: 3.5rem;
         width: 10rem;
     }

     #servicos {
         font-size: 0.7rem;
     }

     .contato img {
         width: 8px;
         height: 8px;
     }

     #servicos h1 {
         border-radius: 0.4rem;
     }

     #servicos a {
         border-radius: 0.4rem;
     }

     #servicos a:hover {
         font-size: 0.9rem;
     }

     .contato {
         font-size: 0.5rem;
     }

     footer {
         font-size: 0.4rem;
     }

     #cortes h1 {
         font-size: 0.4rem;
     }

     #cortes p {
         font-size: 0.4rem;
     }

     .multiplos,
     .solo {
         min-height: 92px;
     }

     .nav {
         margin-top: 80px;
     }

     .manual_btn {
         padding: 2px;
         margin: 3px;
         border: 0.4px solid #222;
     }

     .manual_btn:hover {
         border: 0.4px solid #fff;
         background-color: #000;
     }

     #radio1:checked~.nav .manual_btn.cab_um,
     #radio2:checked~.nav .manual_btn.cab_dois,
     #radio3:checked~.nav .manual_btn.cab_tres,
     #radio4:checked~.nav .manual_btn.bar_um,
     #radio5:checked~.nav .manual_btn.bar_dois,
     #radio6:checked~.nav .manual_btn.bar_tres {
         border: 0.4px solid #fff;
         background-color: #000;
     }

     .retorno {
         padding-top: 170px;
     }

     .retorno a img {
         width: 18px;
         height: 18px;
         border: 0.5px solid #000;
     }

     .retorno a img:hover {
         width: 25px;
         height: 25px;
     }
 }

 @media screen and (min-width:377px) and (max-width:480px) {
     header {
         font-size: 0.8rem;
     }

     header img {
         width: 1.75rem;
         height: 1.75rem;
     }

     .logo img {
         border-radius: 3.5rem;
         width: 12rem;
     }

     #servicos {
         font-size: 0.8rem;
     }

     #servicos h1 {
         border-radius: 0.4rem;
     }

     #servicos a {
         border-radius: 0.4rem;
     }

     #servicos a:hover {
         font-size: 1.1rem;
     }

     .contato {
         font-size: 0.6rem;
     }

     .contato img {
         width: 10px;
         height: 10px;
     }

     footer {
         font-size: 0.5rem;
     }

     #cortes h1 {
         font-size: 0.5rem;
     }

     #cortes p {
         font-size: 0.45rem;
     }

     .multiplos,
     .solo {
         min-height: 115px;
     }

     .nav {
         margin-top: 95px;
     }

     .manual_btn {
         padding: 2.8px;
         margin: 3.5px;
         border: 0.8px solid #222;
     }

     .manual_btn:hover {
         border: 0.8px solid #fff;
         background-color: #000;
     }

     #radio1:checked~.nav .manual_btn.cab_um,
     #radio2:checked~.nav .manual_btn.cab_dois,
     #radio3:checked~.nav .manual_btn.cab_tres,
     #radio4:checked~.nav .manual_btn.bar_um,
     #radio5:checked~.nav .manual_btn.bar_dois,
     #radio6:checked~.nav .manual_btn.bar_tres {
         border: 0.8px solid #fff;
         background-color: #000;
     }

     .retorno {
         padding-top: 210px;
     }

     .retorno a img {
         width: 25px;
         height: 25px;
         border: 1px solid #000;
     }

     .retorno a img:hover {
         width: 45px;
         height: 45px;
     }
 }

 @media screen and (min-width:481px) and (max-width:768px) {
     header {
         font-size: 1rem;
     }

     header img {
         width: 2rem;
         height: 2rem;
     }

     .logo img {
         border-radius: 4rem;
         width: 14rem;
     }

     #servicos {
         font-size: 0.9rem;
     }

     #servicos h1 {
         border-radius: 0.5rem;
     }

     #servicos_grid {
         grid-template-columns: 50% 50%;
     }

     #servicos a {
         border-radius: 0.5rem;
     }

     #servicos a:hover {
         font-size: 1.3rem;
     }

     .contato {
         font-size: 0.7rem;
     }

     .contato img {
         width: 12px;
         height: 12px;
     }

     footer {
         font-size: 0.6rem;
     }

     #cortes h1 {
         font-size: 0.65rem;
     }

     #cortes p {
         font-size: 0.7rem;
     }

     .multiplos,
     .solo {
         min-height: 182px;
     }

     .nav {
         padding: 1pxs;
         margin-top: 155px;
     }

     .manual_btn {
         border: 2px solid #222;
         padding: 4px;
         margin: 4px;
     }

     .manual_btn:hover {
         border: 2px solid #fff;
         padding: 4px;
         background-color: #000;
     }

     #radio1:checked~.nav .manual_btn.cab_um,
     #radio2:checked~.nav .manual_btn.cab_dois,
     #radio3:checked~.nav .manual_btn.cab_tres,
     #radio4:checked~.nav .manual_btn.bar_um,
     #radio5:checked~.nav .manual_btn.bar_dois,
     #radio6:checked~.nav .manual_btn.bar_tres {
         border: 2px solid #fff;
         padding: 4px;
         background-color: #000;
     }

     .retorno {
         padding-top: 250px;
     }

     .retorno a img {
         width: 35px;
         height: 35px;
         border: 2px solid #000;
     }

     .retorno a img:hover {
         width: 45px;
         height: 45px;
     }
 }

 @media screen and (min-width:769px) and (max-width:1080px) {
     header {
         font-size: 1.2rem;
     }

     header img {
         width: 2.25rem;
         height: 2.25rem;
     }

     .logo img {
         border-radius: 5rem;
         width: 16rem;
     }

     #servicos {
         font-size: 1rem;
     }

     #servicos h1 {
         border-radius: 0.7rem;
     }

     #servicos_grid {
         grid-template-columns: 50% 50%;
     }

     #servicos a {
         border-radius: 0.7rem;
     }

     #servicos a:hover {
         font-size: 1.4rem;
     }

     .contato {
         font-size: 0.7rem;
     }

     .contato img {
         width: 11px;
         height: 11px;
     }

     footer {
         font-size: 0.7rem;
     }

     #cortes h1 {
         font-size: 1rem;
     }

     #cortes p {
         font-size: 1rem;
     }

     .multiplos,
     .solo {
         min-height: 250px;
     }

     .nav {
         margin-top: 210px;
     }

     .manual_btn {
         border: 3px solid #222;
         padding: 5px;
         margin: 7px;
     }

     .manual_btn:hover {
         border: 3px solid #fff;
         padding: 5px;
         background-color: #000;
     }

     #radio1:checked~.nav .manual_btn.cab_um,
     #radio2:checked~.nav .manual_btn.cab_dois,
     #radio3:checked~.nav .manual_btn.cab_tres,
     #radio4:checked~.nav .manual_btn.bar_um,
     #radio5:checked~.nav .manual_btn.bar_dois,
     #radio6:checked~.nav .manual_btn.bar_tres {
         border: 3px solid #fff;
         padding: 5px;
         background-color: #000;
     }

     .retorno {
         padding-top: 120px;
     }

     .retorno a img {
         width: 65px;
         height: 65px;
         border: 3px solid #000;
     }

     .retorno a img:hover {
         width: 80px;
         height: 80px;
     }
 }

 @media screen and (min-width:1081px) and (max-width:1460px) {
     header {
         font-size: 2rem;
     }

     header img {
         width: 4rem;
         height: 4rem;
     }

     .logo img {
         border-radius: 9rem;
         width: 30rem;
     }

     #servicos {
         font-size: 2rem;
     }

     #servicos h1 {
         border-radius: 0.9rem;
         margin-left: 10rem;
         margin-right: 10rem;
     }

     #servicos a {
         margin-left: 10rem;
         margin-right: 10rem;
         border-radius: 0.9rem;
     }

     #servicos a:hover {
         font-size: 2.5rem;
     }

     .contato {
         font-size: 1.4rem;
     }

     .contato img {
         width: 21px;
         height: 21px;
     }

     footer {
         font-size: 1.6rem;
     }

     #cortes h1 {
         font-size: 1.4rem;
     }

     #cortes p {
         font-size: 1.4rem;
     }

     .multiplos,
     .solo {
         min-height: 330px;
     }

     .nav {
         margin-top: 285px;
     }

     .manual_btn {
         border: 4px solid #222;
         padding: 7px;
         margin: 10px;
     }

     .manual_btn:hover {
         border: 4px solid #fff;
         padding: 7px;
         background-color: #000;
     }

     #radio1:checked~.nav .manual_btn.cab_um,
     #radio2:checked~.nav .manual_btn.cab_dois,
     #radio3:checked~.nav .manual_btn.cab_tres,
     #radio4:checked~.nav .manual_btn.bar_um,
     #radio5:checked~.nav .manual_btn.bar_dois,
     #radio6:checked~.nav .manual_btn.bar_tres {
         border: 4px solid #fff;
         padding: 7px;
         background-color: #000;
     }

     .retorno {
         padding-top: 180px;
     }

     .retorno a img {
         width: 80px;
         height: 80px;
         border: 4px solid #000;
     }

     .retorno a img:hover {
         width: 95px;
         height: 95px;
     }
 }

 @media screen and (min-width:1461px) {
     header {
         font-size: 2.4rem;
     }

     header img {
         width: 5rem;
         height: 5rem;
     }

     .logo img {
         border-radius: 12rem;
         width: 40rem;
     }

     #servicos {
         font-size: 2.8rem;
     }

     #servicos h1 {

         margin-left: 10rem;
         margin-right: 10rem;
         border-radius: 1.2rem;
     }

     #servicos a {
         margin-left: 10rem;
         margin-right: 10rem;
         border-radius: 1.2rem;
     }

     #servicos a:hover {
         font-size: 3.6rem;
     }

     .contato {
         font-size: 1.2rem;
     }

     .contato img {
         width: 22px;
         height: 22px;
     }

     footer {
         font-size: 1rem;
     }

     #cortes h1 {
         font-size: 1.6rem;
     }

     #cortes p {
         font-size: 1.6rem;
     }

     .multiplos,
     .solo {
         min-height: 380px;
     }

     .nav {
         margin-top: 320px;
     }

     .manual_btn {
         border: 5px solid #222;
         padding: 9px;
         margin: 14px;
     }

     .manual_btn:hover {
         border: 5px solid #fff;
         padding: 9px;
         background-color: #000;
     }

     #radio1:checked~.nav .manual_btn.cab_um,
     #radio2:checked~.nav .manual_btn.cab_dois,
     #radio3:checked~.nav .manual_btn.cab_tres,
     #radio4:checked~.nav .manual_btn.bar_um,
     #radio5:checked~.nav .manual_btn.bar_dois,
     #radio6:checked~.nav .manual_btn.bar_tres {
         border: 5px solid #fff;
         padding: 9px;
         background-color: #000;
     }

     .retorno {
         padding-top: 200px;
     }

     .retorno a img {
         width: 90px;
         height: 90px;
         border: 5px solid #000;
     }

     .retorno a img:hover {
         width: 110px;
         height: 110px;
     }
 }

 /*==================================================================*/
 body {
     background-color: #222;
     border: solid 0.2rem #000;
     position: relative;
     margin: 0.1rem;
     width: 99.9%;
     height: 99.9%;
     overflow-x: hidden;
     box-sizing: border-box;
     justify-content: center;
 }

 .bordadupla {
     position: relative;
     border: solid 0.2rem #ddd;
 }

 header {
     padding: 0.3rem;
     text-align: center;
     background-color: #000;
 }

 header h1 {
     animation: surgir 2s;
     color: #fff;
     font-family: 'Rubik Wet Paint';
     font-weight: lighter;
 }

 header img {
     animation: fogo 1.5s;
     background-color: #000;
 }

 .logo {
     background-color: #fff;
     background-image: url(/imagens/tesoura.png);
     background-position: center center;
     background-size: contain;
     background-repeat: repeat-x;
     border-bottom: 0.3rem solid #ddd;
     border-top: 0.3rem solid #ddd;
     justify-content: center;
     text-align: center;
     display: flex;
 }

 .logo img {
     border: 0.3rem solid #000;
 }

 #servicos {
     background-color: #fff;
     text-align: center;
     padding-top: 0.1rem;
     padding-left: 1rem;
     padding-right: 1rem;
     border-bottom: 0.3rem solid #ddd;
     z-index: 2;
 }

 #servicos h1 {
     border: 0.2rem solid #000;
     font-family: 'Comic Sans MS';
 }

 #servicos h2 {
     font-family: 'Comic Sans MS';
 }

 #servicos_grid {
     display: grid;
     gap: 1px;
 }

 #servicos a {
     color: #000;
     text-decoration: none;
     font-family: 'Comic Sans MS';
     margin-bottom: 1%;
     border: 0.1rem solid #000;
     display: block;
     transition: 0.75s;
 }

 #servicos a:hover {
     background-color: #000;
     color: #fff;
     transition: 0.75s;
 }

 #servicos a:active {
     background-color: #000;
     color: #fff;
     transition: 0.75s;
     font-size: 2rem;
 }

 .contato {
     background-color: #fff;
     text-align: center;
     padding-top: 0.1rem;
     padding-left: 1rem;
     padding-right: 1rem;
     border-bottom: 0.3rem solid #ddd;
 }

 .contato p {
     font-family: 'Comic Sans MS';
     margin-top: 0;
 }

 .contato a {
     display: inline-block;
     color: #000;
 }

 .contato a:hover {
     color: #1c02e3;
     text-decoration: underline;
     text-decoration-color: #1c02e3;
 }

 footer {
     background-color: #000;
     padding-top: 0rem;
     text-align: center;
     color: #fff;
     padding: 0.2rem;
 }

 /*==================================================================*/
 #cortes {
     background-color: #222;
     margin: 0;
     width: 100%;
     height: auto;
     overflow: hidden;
 }

 .multiplos,
 .solo {
     width: 100%;
     height: 100%;
     justify-content: center;
     display: flex;
 }

 .multiplos input {
     display: none;
 }

 .slide {
     display: none;
     align-items: center;
 }

 .slide_img {
     width: 100%;
     height: auto;
 }

 .ative {
     display: grid;
     grid-template-columns: 35% 65%;
     align-items: center;
 }

 .ative,
 .slide {
     border-top: 0.2rem solid #fff;
 }

 .slide img,
 .ative img {
     margin: 0;
     padding: 0;
     width: 100%;
     height: auto;
 }

 .slide p,
 .ative p {
     color: #fff;
     font-family: 'Comic Sans MS';
     margin: 1.5%;
     text-align: justify;
     margin-bottom: 5%;
 }

 .slide h1,
 .ative h1 {
     color: #fff;
     font-family: 'Comic Sans MS';
     margin: 1.5%;
     text-align: center;
 }

 .nav {
     position: absolute;
     display: grid;
     grid-template-columns: 33% 33% 33%;
     margin-left: 35.5%;
     align-items: center;
     justify-items: center;
     width: auto;
     height: auto;
 }

 .manual_btn {
     background-color: #fff;
     border-radius: 50%;
     cursor: pointer;
     transition: 1s;
 }

 #radio1:checked~.slide.cab_primeiro,
 #radio2:checked~.slide.cab_segundo,
 #radio3:checked~.slide.cab_terceiro,
 #radio4:checked~.slide.bar_primeiro,
 #radio5:checked~.slide.bar_segundo,
 #radio6:checked~.slide.bar_terceiro {
     display: grid;
     grid-template-columns: 35% 65%;
     animation: fogo 0.8s;
 }

 .retorno {
     margin-left: 90%;
     position: fixed;
     justify-content: center;
     text-align: center;
     translate: -50% -50%;
     z-index: 3;
 }

 .retorno a img {
     border-radius: 50%;
     transition: 0.5s;
     animation: rodar 6s infinite;
     animation-delay: 4s;
 }

 /*==================================================================*/